.modal {
  display: flex;
  flex-direction: column;
  width: 6000px;
  height: 6000px;
}

.container {
  display: flex;
  padding: 10px;
  height: 400px;
  width: 400px;
  overflow: hidden;
}

.container img {
  object-fit: cover;
}
